<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="azul">
          <span class="fa fa-comment fa-lg main-list-item-icon"></span>
          Blog
        </h2>
        <br>
        <p class="lead text-left">
          Some years ago I used to talk about data analysis, visualization, statistics, 
          R and related stuff in my blog 
          <a class="azul" href="http://gastonsanchez.com/visually-enforced" target="_blank">Data Analysis Visually EnfoRced</a> 
          (unfortunately, I haven't had the time to do that anymore).
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
