<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="azul">
          Blog
        </h2>
        <hr class="small">
        <p class="lead text-left">
          Some years ago I used to talk about data analysis, visualization, statistics, 
          R and related stuff in my blog 
          <a class="azul" href="https://www.gastonsanchez.com/visually-enforced" target="_blank">Data Analysis Visually EnfoRced</a> 
          (unfortunately, I haven't had the time to do that anymore).
        </p>
      </div>
      <div class="col-md-2"></div>
      <br>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
