<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="azul">
          <span class="fa fa-book fa-lg main-list-item-icon"></span>
          Books
        </h2>
        <br>

        <p class="lead text-left">          
            <div class="row">
              <div class="col-sm-3">
                <a href="https://allmodelsarewrong.github.io" target="_blank"><img src="images/book-csl.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="azul" href="https://allmodelsarewrong.github.io" target="_blank"><b>All Models Are Wrong: Concepts of Statistical Learning</b></a></p>
                  <p class="lead text-left">
                  Introductory text about concepts of Statistical Learning, covering some of the common supervised as well as unsupervised methods (work in progress).
                </p>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.gastonsanchez.com/matrix4sl" target="_blank"><img src="images/book-matrix4sl.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="azul" href="https://www.gastonsanchez.com/matrix4sl" target="_blank"><b>A Matrix Algebra Companion for Statistical Learning</b></a></p>
                    <p class="lead text-left">
                    The purpose of this book is to help you understand how statistical notions are connected to matrix algebra concepts that constantly appear around Statistical Learning methods (work in progress).
                </p>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-sm-3">
                <a href="https://pca4ds.github.io" target="_blank"><img src="images/book-pca4ds.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="azul" href="https://pca4ds.github.io" target="_blank"><b>Principal Component Analysis for Data Science</b></a></p>
                    <p class="lead text-left">
                    This book aims to provide an introduction to Principal Component Analysis for Data Science.
                </p>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.gastonsanchez.com/r4strings" target="_blank"><img src="images/book-r4strings.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="mamey" href="https://www.gastonsanchez.com/r4strings" target="_blank"><b>Handling Strings with R</b></a></p>
                <p class="lead text-left">This book aims to help you get started with manipulating strings with R (new bookdown version, work in progress).
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.gastonsanchez.com/packyourcode" target="_blank"><img src="images/book-packyourcode.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="mamey" href="https://www.gastonsanchez.com/packyourcode" target="_blank"><b>Pack YouR Code</b></a></p>
                 <p class="lead text-left">This book aims to help you get started with the creation of a basic R package, based on the so-called S3 classes.
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <a href="https://github.com/gastonstat/rfactors/blob/master/rfactors.pdf" target="_blank"><img src="images/book-rfactors.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="mamey" href="https://github.com/gastonstat/rfactors/blob/master/rfactors.pdf" target="_blank"><b>A Booklet of R Factors</b></a></p>
                 <p class="lead text-left">This little book focuses on the basics, and not so basics, of R factors (work in progress).
                </p>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.gastonsanchez.com/PLS_Path_Modeling_with_R.pdf" target="_blank"><img src="images/book-plspm.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="turquesa" href="https://www.gastonsanchez.com/PLS_Path_Modeling_with_R.pdf" target="_blank"><b>PLS Path Modeling with R</b></a></p>
                <p class="lead text-left">
                  This book provides a hands-on introduction to Partial Least Squares Path Modeling (PLS-PM) using the R package "plspm".
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <a href="https://sagaofpls.github.io/" target="_blank"><img src="images/book-sagaofpls.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left"><a class="turquesa" href="https://sagaofpls.github.io/" target="_blank"><b>The Saga of PLS</b></a></p>
                <p class="lead text-left">
                  What we know today as Partial Least Squares (PLS) is the result of a long period of evolution, with a vast range of methods and techniques proposed since the late 1960s / early 1970s. This book narrates the story behind the origins, development, and evolution of PLS methods.
                </p>
              </div>
            </div>
        </p>


<!--
        <ul class="lead text-left">
          <li class="sep1"><a class="books" href="https://allmodelsarewrong.github.io" target="_blank"><b>All Models Are Wrong: Concepts in Statistical Learning.</b></a> Introductory text about concepts of Statistical Learning, covering some of the common supervised as well as unsupervised methods (work in progress).
          </li>
          <li class="sep1"><a class="books" href="https://www.gastonsanchez.com/matrix4sl" target="_blank"><b>A Matrix Algebra Companion for Statistical Learning.</b></a> The purpose of this book is to help you understand how statistical notions are connected to matrix algebra concepts that constantly appear around Statistical Learning methods (work in progress).
          </li>
          <li class="sep1"><a class="books" href="https://pca4ds.github.io" target="_blank"><b>Principal Component Analysis for Data Science.</b></a> This text provides a formal introduction to Principal Component Analysis as an exploratory tool to learn from data.
          </li>
          <li class="sep1"><a class="books" href="https://www.gastonsanchez.com/r4strings" target="_blank"><b>Handling Strings with R.</b></a> This book aims to help you get started with manipulating strings with R (new bookdown version, work in progress).
          </li>
          <li class="sep1"><a class="books" href="/Handling_and_Processing_Strings_in_R.pdf" target="_blank"><b>Handling and Processing Strings in R</b></a> (old pdf version). 
          </li>
          <li class="sep1"><a class="books" href="https://www.gastonsanchez.com/packyourcode" target="_blank"><b>Pack YouR Code.</b></a> This book aims to help you get started with the creation of a basic R package.
          </li>
          <li class="sep1"><a class="books" href="https://github.com/gastonstat/rfactors/blob/master/rfactors.pdf" target="_blank"><b>A booklet of R factors.</b></a> This little book focuses on the basics, and not so basics, of R factors (work in progress).
          </li>
          <li class="sep1"><a class="books" href="/PLS_Path_Modeling_with_R.pdf" target="_blank"><b>PLS Path Modeling with R.</b></a> This book provides a hands-on introduction to Partial Least Squares Path Modeling (PLS-PM) using the R package "plspm". 
          </li>
          <li class="sep1"><a class="books" href="https://sagaofpls.github.io/" target="_blank"><b>The Saga of PLS.</b></a> This text narrates the story behind the origins, development, and evolution of Partial Least Squares (PLS) methods.
          </li>
        </ul>
-->

        <hr>
     </div>
      <!-- div class="col-md-2"></div> -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->


