<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="books">
          <span class="fa fa-book fa-lg main-list-item-icon"></span>
          Books
        </h2>
        <br>
        <ul class="lead text-left">
          <li class="sep1"><a class="books" href="https://www.gastonsanchez.com/r4strings" target="_blank"><b>Handling Strings with R.</b></a> This book aims to help you get started with manipulating strings with R (new bookdown version, work in progress).
          </li>
          <li class="sep1"><a class="books" href="/Handling_and_Processing_Strings_in_R.pdf" target="_blank"><b>Handling and Processing Strings in R</b></a> (old pdf version). 
          </li>
          <li class="sep1"><a class="books" href="https://www.gastonsanchez.com/packyourcode" target="_blank"><b>Pack YouR Code.</b></a> This book aims to help you get started with the creation of a basic R package.
          </li>
          <li class="sep1"><a class="books" href="https://github.com/gastonstat/rfactors/blob/master/rfactors.pdf" target="_blank"><b>A booklet of R factors.</b></a> This little book focuses on the basics, and not so basics, of R factors (work in progress).
          </li>
          <li class="sep1"><a class="books" href="https://www.gastonsanchez.com/matrix4sl" target="_blank"><b>A Matrix Algebra Companion for Statistical Learning.</b></a> The purpose of this book is to help you understand how statistical notions are connected to matrix algebra concepts that constantly appear around Statistical Learning methods (work in progress).
          </li>
          <li class="sep1"><a class="books" href="/PLS_Path_Modeling_with_R.pdf" target="_blank"><b>PLS Path Modeling with R.</b></a> This book provides a hands-on introduction to Partial Least Squares Path Modeling (PLS-PM) using the R package "plspm". 
          </li>
          <li class="sep1"><a class="books" href="https://sagaofpls.github.io/" target="_blank"><b>The Saga of PLS.</b></a> This text narrates the story behind the origins, development, and evolution of Partial Least Squares (PLS) methods.
          </li>
        </ul>
        <hr>
     </div>
      <!-- div class="col-md-2"></div> -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->


