<section id="books" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="azul">Books</h2>
        <hr class="small">
      </div>

      <div class="col-md-6">
        <h3><a href="https://allmodelsarewrong.github.io/" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> Concepts of Statistical Learning</a></h3>
        <p>Introductory text about concepts of Statistical Learning, covering some of the common supervised as well as unsupervised methods (work in progress).</p>
      </div>
      <div class="col-md-6">
        <h3><a href="https://pca4ds.github.io/" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> PCA for Data Science</a></h3>
        <p>This book aims to provide an introduction to Principal Component Analysis for Data Science.</p>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-md-6">
        <h3><a href="https://www.gastonsanchez.com/intro2cwd/" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> Computing with Data</a></h3>
        <p>This is an introductory book to computational data analysis with an emphasis on principles of data manipulation using R, data technologies, and basics of command line interface (work in progress).</p>
      </div>
      <div class="col-md-6">
        <h3><a href="https://leanpub.com/r4strings" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> Handling Strings with R</a></h3>
        <p>This book aims to help you get started with manipulating strings with R. It provides an overview of several resources that you can use for string manipulation. It covers useful functions in packages "base" and "stringr", printing and formatting characters, regular expressions, and other tricks.</p>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-md-6">
        <h3><a href="https://www.gastonsanchez.com/PLS_Path_Modeling_with_R.pdf" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> PLS Path Modeling with R</a></h3>
        <p>This book provides a hands-on introduction to Partial Least Squares Path Modeling (PLS-PM) using the R package "plspm".</p>
      </div>
      <div class="col-md-6">
        <h3><a href="https://leanpub.com/sagaofpls" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> The Saga of PLS</a></h3>
        <p>What we know today as Partial Least Squares (PLS) is the result of a long period of evolution, with a vast range of methods and techniques proposed since the late 1960s / early 1970s. This book narrates the story behind the origins, development, and evolution of PLS methods.</p>
      </div>
    </div> <!-- row -->


<!--

    <div class="row">
      <div class="col-md-6">
        <h3><a href="https://www.gastonsanchez.com/matrix4sl" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> A Matrix Algebra Companion for Statistical Learning</a></h3>
        <p>The purpose of this book is to help you understand how statistical notions are connected to matrix algebra concepts that constantly appear around Statistical Learning methods (work in progress).</p>
      </div>
      <div class="col-md-6">
        <h3><a class="mamey" href="https://leanpub.com/packyourcode" target="_blank"><i class="fa fa-book fa-fw fa-1x"></i> Pack YouR Code</a></h3>
      <p>This book aims to help you get started with the creation of a basic R package, based on the so-called S3 classes.</p>
      </div>
    </div> 

-->

  </div> <!-- container -->
</section>
