<footer>
   <div class="container">
    <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">

        <h3>
          <span class="fa fa-heart fa-lg main-list-item-icon"></span>
          Give Now
        </h3>
        <p class="lead text-left">
          If you find any value and usefulness in the resources of this site, please consider making a one-time donation in any amount. Your support really matters.

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="ZF6U7K5MW25W2" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </p>

        <p class="lead text-left">
          Alternatively, you can also help me with my Amazon <a href="http://amzn.com/w/A8P707HJ94QI" target="_blank">wishlist</a>.
        </p>
        <hr>

        <h4><strong>Contact Info</strong>
        </h4>
        <p><a id="icon" href="https://www.berkeley.edu/map?evans" target="_blank"><i class="fa fa-map-marker fa-fw fa-1x"></i></a>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i> {{ site.email }}
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a id="icon" href="GastonSanchez_resume.pdf" target="_blank"><i class="fa fa-id-badge fa-fw fa-2x"></i></a>
          </li>
          <li>
            <a id="icon" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-2x"></i></a>
          </li>
          <li>
            <a id="icon" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-2x"></i></a>
          </li>
        </ul>
        <hr>
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 2010-20{{ site.time | date: '%y' }}.</p>

      </div>
      <div class="col-md-2"></div>

    </div>
  </div>
</footer>
