<footer>
   <div id="contact" class="container">
    <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">

      <!--
        <h3>
          <span class="fa fa-map-signs fa-lg main-list-item-icon"></span>
          Contact Info
        </h3>
        
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.427470962957!2d-122.26004764934063!3d37.87368467964212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c24713ffc9d%3A0x2c6d550fb27f83d6!2sEvans%20Hall!5e0!3m2!1sen!2sus!4v1586647781399!5m2!1sen!2sus" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen>
          </iframe>
        </div>
      -->

        <br>
        <br>
        <p><a id="icon" href="https://www.berkeley.edu/map?evans" target="_blank"><i class="fa fa-location-dot fa-fw fa-1x"></i></a>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i> {{ site.email }}
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a id="icon" href="GastonSanchez_resume.pdf" target="_blank"><i class="fa fa-id-badge fa-fw fa-2x"></i></a>
          </li>
          <li>
            <a id="icon" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa-brands fa-github fa-fw fa-2x"></i></a>
          </li>
        <!--
          <li>
            <a id="icon" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa-brands fa-twitter fa-fw fa-2x"></i></a>
          </li>
          <li>
            <a id="icon" href="https://www.youtube.com/channel/{{ site.youtube_username }}" target="_blank"><i class="fa-brands fa-youtube fa-fw fa-2x"></i></a>
          </li>
        -->
          <li>
            <a id="icon" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa-brands fa-linkedin fa-fw fa-2x"></i></a>
          </li>
        </ul>
        <hr>
        <p class="text-muted"><small>&copy; 2010-20{{ site.time | date: '%y' }} {{ site.copyright }}. All rights reserved.</small></p>
        <p class="text-muted"><small>Designed and <i class="fa-solid fa-laptop-code"></i> by Gaston Sanchez.</small></p>

      </div>
      <div class="col-md-2"></div>

    </div>
  </div>
</footer>
