<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1>Gaston Sanchez</h1>
        <hr>
        <p class="lead text-left">
          I'm a statistician, data scientist, and lecturer in the <a href="http://statistics.berkeley.edu/" target="_blank">Department of Statistics</a>, at <a href="http://www.berkeley.edu/" target="_blank">UC Berkeley</a>.
          I tend to spend my time around:
          <ul class="lead text-left">
            <li>
              multivariate methods for exploring, analyzing, and visualizing data in a 
              context of multiple variables and high dimensionality,
            </li>
            <li>
              the use of graphical displays to understand data with visualization,
            </li>
            <li>
              topics about computational reproducibility and open science,
            </li>
            <li>
              and helping researchers and scientists analyze their data.
            </li>
          </ul>
        </p>
        <p class="lead text-left">
          This website is my personal space where I try put in order all my work.
          If you find any valuable resources here (which I'm pretty sure you will) 
          please consider helping me with my <a href="http://amzn.com/w/A8P707HJ94QI" target="_blank"><b>wishlist</b> <i class="fa fa-map-marker fa-amazon fa-1x"></i></a>.
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
