<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1>Gaston Sanchez</h1>
        <hr>
        <p class="lead text-left">
          Cevi Herdian, data scientist, and faculty member in the <a href="http://statistics.berkeley.edu/" target="_blank">Department of Statistics</a>, at <a href="http://www.berkeley.edu/" target="_blank">UC Berkeley</a>.
        </p>
        <p class="lead text-left">
          Among other things, I am very interested in:
          <ul class="lead text-left">
            <li>
              multivariate methods for exploring, analyzing, and visualizing data in a 
              context of multiple variables and high dimensionality.
            </li>
            <li>
              the use of graphical displays to understand data with visualization.
            </li>
            <li>
              topics about computational reproducibility and open science.
            </li>
            <li>
              helping researchers and scientists analyze their data.
            </li>
          </ul>
        </p>
        <p class="lead text-left">
          I am serious about <b>Open Science</b> and <b>Open Knowledge</b>; sincerely committed to the principle that everything I produce&mdash;tutorials, slides, teaching materials, software, data&mdash;should be immediately freely accessible for anyone to access, download, use, and extend upon it.
        </p>
        <p class="lead text-left">
          This website is my personal space where I try to declutter my ideas and put 
          all my work in order (which is easier said than done). If you find any valuable
          resources here (which I'm pretty sure you will) please consider giving something back 
          from my <a href="http://amzn.com/w/A8P707HJ94QI" target="_blank"><b>wishlist</b></a>.
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
