<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="azul">About</h2>
        <hr class="small">
        <p class="lead text-left">
          I'm a lecturer in the <a href="http://statistics.berkeley.edu/" target="_blank">Department of Statistics</a>, at the <a href="http://www.berkeley.edu/" target="_blank">University of California, Berkeley</a>. Among other things I ...
          <ul class="lead text-left">
            <li class="sep">
              <p>enjoy authoring materials (e.g. books, tutorials, slides) for teaching purposes,</p>
            </li>
            <li class="sep">
              <p>love using graphical displays to understand data with visualization,</p>
            </li>
            <li class="sep">
              <p>cherish multivariate methods for exploring, analyzing, and visualizing 
              data in a context of multiple variables and high dimensionality,</p>
            </li>
            <li class="sep">
              <p>care about computational reproducibility topics and open science,</p>
            </li>
            <li class="sep">
              <p>and like helping researchers and scientists analyze their data.</p>
            </li>
          </ul>
        </p>

        <br>
        <h3 id="heart">
          <span class="fa fa-heart fa-lg main-list-item-icon"></span>
          Give Now
        </h3>
        <p class="lead text-left">
          If you find any value and usefulness in the resources of this site, please consider making a <b>one-time donation in any amount</b>. Your support really matters.

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="ZF6U7K5MW25W2" />
          <input type="hidden" name="currency_code" value="USD" />

          <!--  
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /> 
          -->

          <input type="image" src="images/donate.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" width="140" height="60"/> 
          </form>


        </p>

        <p class="lead text-left">
          Alternatively, you can also help me with my Amazon <a href="http://amzn.com/w/A8P707HJ94QI" target="_blank">wishlist</a>.
        </p>

      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
