<section id="beyond" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="azul">Beyond</h2>
        <hr class="small">
      </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a href="https://leanpub.com/ftmcebook" target="_blank"><img class="img-centered" src="images/misc-ftmc.jpg" width="400"></a>
      </div>
      <div class="col-md-4">
        <p class="lead text-left">
          <a href="https://leanpub.com/ftmcebook" target="_blank"><b>Fundamentos Teoricos de Maniobras con Cuerdas</b></a></p>
          <p class="lead text-left">
          In a parallel life I've been a rope rigging enthusiast (yes, seriously). Such has been my fascination around these activities that I even wrote a book in Spanish about the theoretical fundamentals of Rope Techniques. 
        </p>
      </div>
    </div> <!-- row -->

    <br>
    <br>

    <div class="row">
      <div class="col-md-4">
        <p class="lead text-left">
          <a href="https://www.gastonsanchez.com/poemario" target="_blank"><b>Poemario</b></a></p>
          <p class="lead text-left">Once in a blue moon, my alter ego feels compelled to write&mdash;mostly in my mother tongue&mdash;what to me seems, feels and sounds like poetry-ish. I call them <em>Poemario</em>, a random collection of personal poems in Spanish.
        </p>
      </div>
      <div class="col-md-4">
        <a href="https://www.gastonsanchez.com/poemario" target="_blank"><img class="img-centered" src="images/misc-poemario.jpg" width="400"></a>
      </div>
      <div class="col-md-4"></div>
    </div> <!-- row -->

    <br>
    <br>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a href="https://www.gastonsanchez.com/tell-me-something-unique-about-you" target="_blank"><img class="img-centered" src="images/misc-tmsuay.png" width="400"></a>
      </div>
      <div class="col-md-4">
        <p class="lead text-left">
          <a href="https://www.gastonsanchez.com/tell-me-something-unique-about-you" target="_blank"><b>Tell Me Something Unique About You</b></a></p>
          <p class="lead text-left">A curated collection of what students have told me when I have asked them to "tell me something unique about you".
        </p>
      </div>
    </div> <!-- row -->

    <br>
    <br>

    <div class="row">
      <div class="col-md-4">
        <p class="lead text-left">
          <a href="https://photos.app.goo.gl/grwVdDNGdGikQgFTA" target="_blank"><b>Utility Poles</b></a></p>
          <p class="lead text-left">Photo album of an assortment of utility poles (transmission poles, telephone poles, power poles, etc).
        </p>
      </div>
      <div class="col-md-4">
        <a href="https://photos.app.goo.gl/grwVdDNGdGikQgFTA" target="_blank"><img class="img-centered" src="images/misc-poles.jpg" width="400"></a>
      </div>
      <div class="col-md-4"></div>

      <div class="col-sm-2">
        <!-- to be filled -->
      </div>
      <div class="col-sm-4">
        <!-- to be filled -->
      </div>
    </div> <!-- row -->

    <br>

  </div> <!-- container -->
</section>
