<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="misc">
          <span class="fa fa-random fa-lg main-list-item-icon"></span>
          Misc
        </h2>
        <br>
        <ul class="lead text-left">
          <li class="sep1"><a class="misc" href="https://leanpub.com/ftmcebook" target="_blank"><b>Fundamentos Teoricos de Maniobras con Cuerdas.</b></a> This is a book in Spanish about the theoretical fundamentals of Rope Techniques. 
          </li>
          <li class="sep1"><a class="misc" href="http://gastonsanchez.com/poemario" target="_blank"><b>Poemario.</b></a> A random collection of personal poems in Spanish.
          </li>
          <li class="sep1"><a class="misc" href="https://github.com/gastonstat/quotes" target="_blank"><b>Quotes.</b></a> A curated collection of some of my favorite quotes.
          </li>
        </ul>
        <hr>
     </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
