<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="azul">
          <span class="fa fa-random fa-lg main-list-item-icon"></span>
          Beyond
        </h2>
        <br>

        <p class="lead text-left">          
            <div class="row">
              <div class="col-sm-3">
                <a href="https://leanpub.com/ftmcebook" target="_blank"><img src="images/misc-ftmc.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="azul" href="https://leanpub.com/ftmcebook" target="_blank"><b>Fundamentos Teoricos de Maniobras con Cuerdas.</b></a></p>
                  <p class="lead text-left">
                  Very few people know that, in a past life, I used to be a rope techniques and rigging enthusiast (yes, seriously). Such was my fascination that I even wrote a book in Spanish about the theoretical fundamentals of Rope Techniques. 
                </p>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.gastonsanchez.com/poemario" target="_blank"><img src="images/misc-poemario.png" width="180"></a>
              </div>
              <div class="col-sm-9">
                <p class="lead text-left">
                  <a class="azul" href="https://www.gastonsanchez.com/poemario" target="_blank"><b>Poemario.</b></a></p>
                  <p class="lead text-left">Once in a blue moon, my alter ego feels compelled to write&mdash;in my mother tongue&mdash;what to me seems, feels and sounds like poetry-ish. I call them <em>Poemario</em>, a random collection of personal poems in Spanish.
                </p>
              </div>
            </div>
            <br>
        </p>

<!--
        <ul class="lead text-left">
          <li class="sep1"><a class="azul" href="https://leanpub.com/ftmcebook" target="_blank"><b>Fundamentos Teoricos de Maniobras con Cuerdas.</b></a> This is a book in Spanish about the theoretical fundamentals of Rope Techniques. 
          </li>
          <li class="sep1"><a class="azul" href="https://www.gastonsanchez.com/poemario" target="_blank"><b>Poemario.</b></a> A random collection of personal poems in Spanish.
          </li>
          <li class="sep1"><a class="azul" href="https://github.com/gastonstat/quotes" target="_blank"><b>Quotes.</b></a> A curated collection of some of my favorite quotes.
          </li>
        </ul>
-->

        <hr>
     </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
