<nav>
	<ul>
		<li><a href="/work" class="{% if page.url contains 'work' %}current{% endif %}">Work</a></li>
		<li><a href="/teaching" class="{% if page.url contains 'teaching' %}current{% endif %}">Teaching</a></li>
		<li><a href="/software" class="{% if page.url contains 'software' %}current{% endif %}">Software</a></li>
		<li><a href="/blog" class="{% if page.url contains 'blog' %}current{% endif %}">Blog</a></li>		
		<li><a href="/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
	</ul>
</nav>
