<section id="software">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="azul">R Textbooks</h2>
        <hr class="small">
      </div>

      <div class="col-md-2 text-center"></div>
      <div class="col-md-8">
        <p class="lead text-left">
          Some of my R ebooks on data analysis, programming, simulations, handling strings, web technologies, etc.
        </p>
      </div>
      <div class="col-md-2 text-center"></div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <a href="https://www.gastonsanchez.com/R-ice-breaker/" target="_blank"><img class="img-centered" src="images/rtut-favicon-ice-breaker.png" width="200"></a>
          <p class="text-left"><a class="software" href="https://www.gastonsanchez.com/R-ice-breaker/" target="_blank"><b>R Ice Breaker</b></a>: Getting Started with R and RStudio.</p>
        </div>

        <div class="col-md-4">
          <a href="https://www.gastonsanchez.com/R-coding-basics/" target="_blank"><img class="img-centered" src="images/rtut-favicon-coding-basics.png" width="200"></a>
          <p class="text-left"><a class="software" href="https://www.gastonsanchez.com/R-coding-basics/" target="_blank"><b>R Coding Basics</b></a>: Introduction to the Basics of Coding in R.</p>
        </div>

        <div class="col-md-4">
          <a href="https://www.gastonsanchez.com/R-tidy-hurricanes/" target="_blank"><img class="img-centered" src="images/rtut-favicon-tidy-hurricanes.png" width="200"></a>
          <p class="text-left"><a class="software" href="https://www.gastonsanchez.com/R-tidy-hurricanes/" target="_blank"><b>R Tidy Hurricanes</b></a>: Analyzing Tropical Storms with Tidyverse Tools.</p>
        </div>
      </div> <!-- row -->

      <br>

      <div class="row">
        <div class="col-sm-4">
          <a href="https://www.gastonsanchez.com/R-rolling-dice/" target="_blank"><img class="img-centered" src="images/rtut-favicon-rolling-dice.png" width="200"></a>
          <p class="text-left"><a class="software" href="https://www.gastonsanchez.com/R-rolling-dice/" target="_blank"><b>R Rolling Dice</b></a>: Exploring Simulations in Games of Chance with R.</p>
        </div>
        <div class="col-sm-4">
          <a href="https://www.gastonsanchez.com/R-for-strings/" target="_blank"><img class="img-centered" src="images/rtut-favicon-handling-strings.png" width="200"></a>
          <p class="text-left"><a class="software" href="https://www.gastonsanchez.com/R-for-strings/" target="_blank"><b>R for Strings</b></a>: Handling and Manipulating Strings in R.</p>
        </div>
        <div class="col-sm-4">
          <a href="https://www.gastonsanchez.com/R-web-technologies/" target="_blank"><img class="img-centered" src="images/rtut-favicon-web-tech.png" width="200"></a>
          <p class="text-left"><a class="software" href="https://www.gastonsanchez.com/R-web-technologies/" target="_blank"><b>R Web Technologies</b></a>: A Short Introduction to Web Technologies in R.</p>
        </div>
      </div>
      <br>           

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->

<!-- <br> -->