<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="software">
          <span class="fa fa-code fa-lg main-list-item-icon"></span>
          Software
        </h2>
        <br>
        <p class="lead text-left">
          I'm a passionate R user as well as developer and maintainer of several R packages. 
          All the code is available in my <a class="software" href="https://github.com/gastonstat" target="_blank">github</a> repositories.
        </p>
        <ul class="lead text-left">
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/plspm" target="_blank"><b>plspm</b></a> provides a toolkit exclusively dedicated to Partial Least Squares Path Modeling (PLS-PM) analysis.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/plsdepot" target="_blank"><b>plsdepot</b></a> a set of tools for performing Partial Least Squares (PLS) analysis of one or two data tables.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/pathmox" target="_blank"><b>pathmox</b></a> is dedicated to the Pathmox approach for obtaining segmentation trees in Partial Least Squares Path Modeling (PLS-PM) analysis.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/arcdiagram" target="_blank"><b>arcdiagram</b></a> is a minimalist package to help you plot pretty arc diagrams in R.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/colortools" target="_blank"><b>colortools</b></a> is designed to help users generate color schemes and color palettes.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/matrixkit" target="_blank"><b>matrixkit</b></a> is an R package that provides a first aid kit for some matrix operations commonly used in multivariate data analysis methods.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/turner" target="_blank"><b>turner</b></a> provides a set of handy functions to turn vectors (and lists of vectors) into other indexed data structures.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/tester" target="_blank"><b>tester</b></a> provides human readable functions to test characteristics of some common R objects.</li>
          <li class="sep1"><a class="software" href="https://github.com/gastonstat/cointoss" target="_blank"><b>cointoss</b></a> is a toy package with simple functions for simulating tossing a coin.</li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
