<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="souvenirs">
          <span class="fa fa-shopping-cart fa-lg main-list-item-icon"></span>
          Souvenirs, Arts and Crafts
        </h2>
        <br>
        <p class="lead text-left">
          Some designs that you can order from <a class="souvenirs" class="teepublic" href="https://www.teepublic.com/user/gasigiri" target="_blank">teepublic</a>.
        </p>
        <br>
        <a href="https://www.teepublic.com/t-shirt/7261303-piper-orange?store_id=61732" target="_blank"><img src="images/piper-orange-tee.png" width="200"></a>

        <a href="https://www.teepublic.com/t-shirt/7261453-terminal-gt?store_id=61732" target="_blank"><img src="images/terminal-tee.png" width="200"></a>

        <a href="https://www.teepublic.com/t-shirt/7261547-piper-purple?store_id=61732" target="_blank"><img src="images/piper-purple-tee.png" width="200"></a>
        <hr>
     </div>
      <!-- div class="col-md-2"></div> -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->


