<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="talks">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          Talks
        </h2>
        <br>
        <ul class="lead text-left">
          <li><a class="talks" href="https://docs.google.com/presentation/d/1qATOfXdzWqnPwkf8o3Dij5XI0rocwPxY0JS06dIBskc/pub?start=false&loop=false&delayms=3000" target="_blank">Promoting Open Science</a></li>
          <li><a class="talks" href="https://docs.google.com/presentation/d/1dySXEBDWKG3t5bVK2PBlRBWh_wjKtT7pgQCR9joBMpU/pub?start=false&loop=false&delayms=3000" target="_blank">Unconventional Plots in R</a></li>
          <li>Multiblock Dilemas</li>
          <li><a class="talks" href="https://docs.google.com/presentation/d/15uaA-rS7g8YIO5FM6eNKV5Lqhec74H3ZdRpXgJdj_nQ/pub?start=false&loop=false&delayms=3000" target="_blank">Arc Diagrams in R</a></li>
          <li>LMA Agrocampus</li>
          <li>Oniris Intro</li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
