<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="talks">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          Talks
        </h2>
        <br>
        <p class="lead text-left">
          Slides of some of my talks.
        </p>
        <ul class="lead text-left">
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/1qATOfXdzWqnPwkf8o3Dij5XI0rocwPxY0JS06dIBskc/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Promoting Open Science</b></a> (UJAT, Tabasco).</li>
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/1dySXEBDWKG3t5bVK2PBlRBWh_wjKtT7pgQCR9joBMpU/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Unconventional Plots in R</b></a> (BCC, Berkeley).</li>
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/1XgkmFMclJLBGQr6Pvqml0AG3rTcNKjhQCDwfNGyh5o0/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Multiblock Dilemas</b></a> (McGill University, Montreal).</li>
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/15uaA-rS7g8YIO5FM6eNKV5Lqhec74H3ZdRpXgJdj_nQ/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Arc Diagrams in R</b></a> (Bay Area R Users Group).</li>
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/1pAkxK-LHdZ1T8huLyl-E1h2GVVjzRLhfqZBZHuYzizA/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Thoughts on developing stats software in academia</b></a> (LMA Agrocampus, Rennes).</li>
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/11s6Q2zF5VzHzdL5B0rp3luwKttqdgASecLrmnqOUrc0/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Tips for presentations.</b></a> (Oniris, Nantes).</li>
          <li class="sep2"><a class="talks" href="https://docs.google.com/presentation/d/1sO28nIDOk9kgbplwrBjpip7HENLba8m7YQKm6j4bAug/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Keep in mind these 5 things ...</b></a> (Oniris, Nantes).</li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
