<section id="teaching" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Teaching</h1>
        <p>Some of the courses I've taught at UC Berkeley</p>
        <br>
      </div>
      <!-- /.col-lg-10 -->

        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cog fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 33A</strong>
              </h4>
              <p>Introduction to<br>
                Programming in R</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cogs fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 33B</strong>
              </h4>
              <p>Introduction to Advanced<br>
                Programming in R</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-bar-chart fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 133</strong>
              </h4>
              <p>Concepts in Computing<br> with Data</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-folder-o fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 2</strong>
              </h4>
              <p>Introduction to<br>
                Statistics</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-folder fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 20</strong>
              </h4>
              <p>Introduction to<br>Probability and Statistics</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->


        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-compass fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 131A</strong>
              </h4>
              <p>Introduction to<br>Probability and Statistics</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-line-chart fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 151A</strong>
              </h4>
              <p>Linear<br>Modeling</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 154</strong>
              </h4>
              <p>Modern Statistical Prediction<br>and Machine Learning</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-recycle fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 159</strong>
              </h4>
              <p>Reproducible and Collaborative<br>Statistical Data Science</p>
            </div>
          </div>

          <div class="col-md-2">
            <div class="service-item">
              <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-shield fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Stat 243</strong>
              </h4>
              <p>Introduction to<br>Computational Statistics</p>
            </div>
          </div>

        </div>
        <!-- /.row (nested) -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
