<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="teaching">
          <span class="fa fa-university fa-lg main-list-item-icon"></span>
          Teaching
        </h2>
        <br>
        <ul class="lead text-left">
          <li><a class="teaching" href="http://gastonsanchez.com/stat2" target="_blank"><b>Stat 2</b></a>: Introduction to Statistics</li>
          <li><a class="teaching" href="http://gastonsanchez.com/stat133" target="_blank"><b>Stat 133</b></a>: Concepts in Computing with Data</li>
          <li><a class="teaching" href="http://gastonsanchez.com/stat159" target="_blank"><b>Stat 159</b></a>: Reproducible and Collaborative Statistical Data Science</li>
          <li><a class="teaching" href="http://gastonsanchez.com/stat243" target="_blank"><b>Stat 243</b></a>: Introduction to Computational Statistics</li>
          <li><a class="teaching" href="http://gastonsanchez.com/math13" target="_blank"><b>Math 13</b></a>: Introduction to Statistics</li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
