<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="azul">Data Visualization</h2>
        <!-- <hr class="small"> -->
      </div>
    </div>

   <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-regular fa-image fa-lg main-list-item-icon"></span>
          &nbsp;1. Intro to Data Visualization
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRP3xay1A-zWQom8mAHLShZi-8_gSvmtfz4nGTQ8LwPzTO_ulkgC9e0o1_wC4UDnpgb6JwqvEuZkI2n/pub?start=false&loop=false&delayms=3000" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vTEwZA1y3Ru_D4hNGLF50zsLWqbNrquH7BdlMC6hAKTBznm8YfyXCCPinF1mhYmYQ-7a8nOODD4rYN_/pub?start=false&loop=false&delayms=3000" target="_blank">Graphics Everywhere</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQS1VAaAThWIQ_rKflEz5Mon-A-EVoW57ZzfdFrIvsj1HY9Vmc4BLpORsac6HB25MaAcUBIiOInbRP1/pub?start=false&loop=false&delayms=3000" target="_blank">Classic Example: Minard's Map</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vTjaM0Z2PCLoyzgedhVzLgK-HeLkldURTCKrq9W8nQ7VG8DV2ukt59x5Yznj0kBOZppk75489h8hwgV/pub?start=false&loop=false&delayms=3000" target="_blank">Classic Example: Challenger Disaster</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRj3IbDG51jNCrjiaNrIc5gD_7gn3KRy2SQMGsoXmXqWk3V_DZp7mjinVaO18ng2clJdMxDZT7s2kxQ/pub?start=false&loop=false&delayms=3000" target="_blank">Classic Example: Francis Galton</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-eye fa-lg main-list-item-icon"></span>
          &nbsp;2. Visual System
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vSMpjLjK56T8Ehk5qxZHXCQWPdVQ6NZjoMc9UTBcLUPUhyzPK33O7HrxDj3_34utxs2rCbkyAglmGuR/pub?start=false&loop=false&delayms=3000" target="_blank">Preamble</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQQ2l5wOZMIJjyT-C19zsCBhCTpzwdNkHFnTNr8vK3RRfoF5T9UOrKM0dCGqvXoP-ajccngSLon2sEa/pub?start=false&loop=false&delayms=3000" target="_blank">Part 1: Light</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRrp8_jh4rueUc0IJTfRcD8nF907gbKufzT6PV-WuZEPiQ9L_nm0Zev2RyuTHamXUQFDxRN5EjsMIGp/pub?start=false&loop=false&delayms=3000" target="_blank">Part 2: Eye</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vT6nfDo69yKNE93YXdswxMzWV3t6926U6P-96F4nw1wpirBUDNNq33_vYL7IMBKdZ2nGTWoctzWdYMC/pub?start=false&loop=false&delayms=3000" target="_blank">Part 3: Memory</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRI7Xe8obPprUyqON0qV3kB5SDfgfdaCvDnegP1GVuE56wGycfGWrpVPYa3mjrZ1IiiFb8phEoGMahL/pub?start=false&loop=false&delayms=3000" target="_blank">Part 4: Color Vision</a></li>
        </ul>
      </div>
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-palette fa-lg main-list-item-icon"></span>
          &nbsp;3. Color
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQFwZSvXOi4EEXtbBe3-W4RcSDpmMJz3cm2vngEN-F68PFn0PYEwLsP7ursCgeLbSmTUZHqwIdLuljI/pub?start=false&loop=false&delayms=3000" target="_blank">Color Model: RGB</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQYNiWCaMBjqpLhH6Wyr6-_0DOSELPdi-3YTzFejbZZavrMU-itW5-siLfC_w31s1NAR-vB6G0HdCcM/pub?start=false&loop=false&delayms=3000" target="_blank">Other Models and Color Pickers</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRFYgboYP6ZXLkQrQz0mpJjzp6BjxCPWdc5vat14U5LZ2is8gPoaBmA2dpbqPBLDGk4NVMeego1D0uq/pub?start=false&loop=false&delayms=3000" target="_blank">Color Wheel and Color Schemes</a></li>
          <li><a class="azul" href="" target="_blank">Further considerations about color</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-compass-drafting fa-lg main-list-item-icon"></span>
          &nbsp;4. Design Principles
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vSism-a3CvBlPF3BX4M3GKJGgG3q9v7_RO92B-sT1a6CtDCxrLB09aXcu2sRnRF5pgq7WuqoB4A950L/pub?start=false&loop=false&delayms=3000" target="_blank">Graphics Vocabulary</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vShEWNJhBkAPoCjYBRCdn4AP19_eX-SbPNuI8Be5xo10TwkJOmFgYmRtDsjYyBA84msj-TrQOi9GdB6/pub?start=false&loop=false&delayms=3000" target="_blank">Core Idea</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRiJ-D6EOZBe8UxIGffnZqBW8zffjB6J0bAgC4oouUBNbgxF3AlmjlGIQloXK8egkcczX-dVFEthIiS/pub?start=false&loop=false&delayms=3000" target="_blank">Graphing Process</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRx7onPuzXm1agMHqQ50HZZWAZmdk1yXULjUWoBtdI4iNdym_6E7ZHgeJWA9QF72DVJnK_o8Ip09qZ6/pub?start=false&loop=false&delayms=3000" target="_blank">Analytical Tasks</a></li>
        </ul>
      </div>      
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-chart-column fa-lg main-list-item-icon"></span>
          &nbsp;5. Recommendations
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQIzt2ZhrAixFEbPpXBr93G5m4dqlXwzm5dmiqGO5QEEMLt4bmRu5Q4HNhLV-kMOwDj740VfMWwA88j/pub?start=false&loop=false&delayms=3000" target="_blank">Tufte's Data-Ink Ratio</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vR-AfHvu8z3d-4pBP6JmMeloXk1w6JGQ_5FsolvV244sWqjL_CkxtOVMxaJ7Sud4V79whOT0vUX7vLj/pub?start=false&loop=false&delayms=3000" target="_blank">Gestalt Principles</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vTZCrJXHYjDezFmbkz21CD6mdtGz7T6aNFrgJBHV9oMhIKrO0JqhRVgKfTutEC_5odZTnINXuTLfTzU/pub?start=false&loop=false&delayms=3000" target="_blank">Tips for Effective Graphics</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vSxTNnuh8kStyTzStkzIiBgSSOyS2nLO15HrHmxgyKOiW1CxQi7HWb9e8UAjtB5aI6Np31zuVXD0MaM/pub?start=false&loop=false&delayms=3000" target="_blank">Chart Tasting Examples</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-chart-area fa-lg main-list-item-icon"></span>
          &nbsp;6. Art & Entertainment
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="" target="_blank">Similar Diversity</a> (soon)</li>
          <li><a class="azul" href="" target="_blank">Entertainment</a> (soon)</li>
          <li><a class="azul" href="" target="_blank">Artistic-ish</a> (soon)</li>
        </ul>
      </div>      
    </div> <!-- row -->

  </div>
  <!-- /.container -->
</section>
