<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr>
        <h2 id="azul">Data Technologies and R</h2>
        <!-- <hr class="small"> -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-refresh fa-lg main-list-item-icon"></span>
          &nbsp;Basics of Computing with Data
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1fJ1cvVP75wPnZhY-qd1qfE-7SWBCabQpZWQRWjz1o9c/pub?start=false&loop=false&delayms=3000" target="_blank">The Data Analysis Cycle (DAC)</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRjNUHoCLdgqBAHrUusVoCrIJNCUsXfUpIpLpRaky0WVDmYeuRzz51X5WaIYrhdXm8AeYZrhR3OPE0P/pub?start=false&loop=false&delayms=3000" target="_blank">Data Perspectives</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/12Bqm5Pn7NULOFRyjAzHR5A3Wu4EuBlhSkOHlTZizC7M/pub?start=false&loop=false&delayms=3000" target="_blank">DAC and the filesystem</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1Vsqcl9c6GDQQT4qEpsdTgXWpxwiD5dt2aVNAm2ZCAiM/pub?start=false&loop=false&delayms=3000" target="_blank">Role of Data Visualization</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-table fa-lg main-list-item-icon"></span>
          &nbsp;Concepts of Data Technologies
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="" target="_blank">Introduction</a></li>
          <li><a class="azul" href="" target="_blank">Data Representation</a></li>
          <li><a class="azul" href="" target="_blank">Text Files</a></li>
          <li><a class="azul" href="" target="_blank">Tabular Data</a></li>
          <li><a class="azul" href="" target="_blank">XML Basics</a></li>
          <li><a class="azul" href="" target="_blank">HTML Basics</a></li>
        </ul>
      </div>
    </div> <!-- row -->

   <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-terminal fa-lg main-list-item-icon"></span>
          &nbsp;R in non-interactive Mode
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/documents/01-introduction.md" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/documents/02-batch-mode.md" target="_blank">Batch Mode</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/documents/03-rscript.md" target="_blank">Rscript</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/documents/04-shell-script.md" target="_blank">Shell script</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/documents/05-redirection.md" target="_blank">Redirection</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-th fa-lg main-list-item-icon"></span>
          &nbsp;Getting Data from the Web with R
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/01-introduction/01-introduction.pdf" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/02-reading-files/02-reading-files.pdf" target="_blank">Reading Files from the Web</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/03-xml-basics/03-xml-basics.pdf" target="_blank">Basics of XML and HTML</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/04-parsing-xml/04-parsing-xml.pdf" target="_blank">Parsing XML / HTML content</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/05-json-data/05-json-data.pdf" target="_blank">Handling JSON Data</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/06-http-basics-curl/06-http-basics-curl.pdf" target="_blank">HTTP Basics and RCurl Package</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/07-web-forms/07-web-forms.pdf" target="_blank">Getting Data via Web Forms</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/08-web-apis/08-web-apis.pdf" target="_blank">Getting Data via Web APIs</a></li>
        </ul>
      </div>
    </div> <!-- row -->

      
  </div>
  <!-- /.container -->
</section>
