<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="azul">Data Visualization</h2>
        <!-- <hr class="small"> -->
      </div>
    </div>

   <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-image fa-lg main-list-item-icon"></span>
          &nbsp;1. Intro to Data Visualization
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1sphs9SPje3j3Ic_7LSn2o9Gzllz7gq8drSEInI18mEk/edit?usp=sharing" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1B9q75pMCGmOcA7CJgyCTCsTFvn2QOaXxZ6Pvdy_gwU8/edit?usp=sharing" target="_blank">Graphics Everywhere</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1TNXfPQ8Et2RknqWveneJlI09a0KfH8bQIr9O6U7P9z4/edit?usp=sharing" target="_blank">Classic Example: Minard's Map</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1FQ5kgeNbeeTtWXqEWEuwNOgp-Vq58dHZXURpHGUIJ90/edit?usp=sharing" target="_blank">Classic Example: Challenger Disaster</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1wfAfJG7_JNvQ8UrYyvqlyksxAg4SiFFEnGLWlr5NEzo/edit?usp=sharing" target="_blank">Classic Example: Francis Galton</a></li>
          <li>Classic Example: William Playfair</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-bar-chart fa-lg main-list-item-icon"></span>
          &nbsp;3. Design Considerations
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1IKU93XPoW3Sr0MlzoVEeWY0qUHy8uJwuJnDrcQIUY9s/edit?usp=sharing" target="_blank">Graphics Vocabulary</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1_YITghxhW6UB1NEqBwoGWPxdct8W5jLnfV9QHwQ0ri4/edit?usp=sharing" target="_blank">Core Idea</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1byF8msahSIbpq3t6NkIREZmby9HnR9q3qvhQH5olNAw/edit?usp=sharing" target="_blank">Tufte's Data-Ink Ratio</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1NL9zLIX89UDtNCSjVQWTATtPbu_-m9J_Bd4yzUdEyLg/edit?usp=sharing" target="_blank">Gestalt Principles</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1HCzP62Cw0kjGVlsX3zN2VIKPMOvCPBMBa6QgYY4zjY8/edit?usp=sharing" target="_blank">Graphing Process</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/17ptEJULF8gYpjos1TDA8sYafxGMMoTnuXBY-8KO6VrY/edit?usp=sharing" target="_blank">Tips for Effective Graphics</a></li>
        </ul>
      </div>
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-eye fa-lg main-list-item-icon"></span>
          &nbsp;2. Visual System
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1OkTNkJcyB2Prry6l_vhXoZ7YnXTmweVTpYn5sqb-Fpk/edit?usp=sharing" target="_blank">Visual System: Preamble</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1M7UaPaWmxlnE7PZX2jNMYk5naFvz2AkDylHNxh0u4Mw/edit?usp=sharing" target="_blank">Visual System (part 1)</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1aJ2ZdTozjXnqgGujhLtfthkSpSHm80zWuvc6l8_PHuY/edit?usp=sharing" target="_blank">Visual System (part 2)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/07-what-is-color/07-what-is-color.pdf" target="_blank">Color Vision (part 1)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/08-color-vision/08-color-vision.pdf" target="_blank">Color Vision (part 2)</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-sun-o fa-lg main-list-item-icon"></span>
          &nbsp;4. Using Color
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1xJMBvqqolP-0KylGw3xnbFEhryiKUWx0HkJ6gyO9iHg/edit?usp=sharing" target="_blank">Color Model: RGB</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/13bSN9ECvlpl0afGSsz0sQMbuvUBhcQhZC_0TGDpdy_E/edit?usp=sharing" target="_blank">Other Color Models</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1OXhveaSeriHIoxDK8mj0Z8ogi6xvyarDq2m3StuHOAI/edit?usp=sharing" target="_blank">Color Wheel</a></li>
        </ul>
      </div>
    </div> <!-- row -->

  </div>
  <!-- /.container -->
</section>
