<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="tutorials">
          <span class="fa fa-folder-open fa-lg main-list-item-icon"></span>
          Tutorials
        </h2>
        <br>


        <h3 class="text-left">
          <span class="fa fa-bar-chart fa-lg main-list-item-icon"></span>
          &nbsp;Basics of Computing with Data
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1fJ1cvVP75wPnZhY-qd1qfE-7SWBCabQpZWQRWjz1o9c/pub?start=false&loop=false&delayms=3000" target="_blank">The Data Analysis Cycle (DAC)</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/e/2PACX-1vRjNUHoCLdgqBAHrUusVoCrIJNCUsXfUpIpLpRaky0WVDmYeuRzz51X5WaIYrhdXm8AeYZrhR3OPE0P/pub?start=false&loop=false&delayms=3000" target="_blank">Data Perspectives</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/12Bqm5Pn7NULOFRyjAzHR5A3Wu4EuBlhSkOHlTZizC7M/pub?start=false&loop=false&delayms=3000" target="_blank">DAC and the filesystem</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1Vsqcl9c6GDQQT4qEpsdTgXWpxwiD5dt2aVNAm2ZCAiM/pub?start=false&loop=false&delayms=3000" target="_blank">Role of Data Visualization</a></li>
<!--
          <li><a class="tutorials" href="" target="_blank">Exploratory Data Analysis</a></li>
-->
        </ul>


        <h3 class="text-left">
          <span class="fa fa-angle-right fa-lg main-list-item-icon"></span>
          &nbsp;Command Line and Shell basics
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1kKt9V6rom55hU6SJ2_3nGluobjtScptlnJV9YFe6Jz4/pub?start=false&loop=false&delayms=3000" target="_blank">Unix basics</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1muQeKS2a5xtZvjCdRPjjdJeyBjFkLEedISIP1CgOkTE/pub?start=false&loop=false&delayms=3000" target="_blank">Command Line</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1RocwKRc-bOJIk3XMApXPcBCLgZcgrpIAdsUv40WD8Ec/pub?start=false&loop=false&delayms=3000" target="_blank">Customizing Bash shell</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1veeYKkjwgi3h1SGcu7DIgCt82YJ8JjNCmpj75BqHkNk/pub?start=false&loop=false&delayms=3000" target="_blank">Filesystem</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1feEUdSNnWE6f3iMjD4sHP4cSJL15SwlNqZZqUTQo6IY/pub?start=false&loop=false&delayms=3000" target="_blank">Working with files and directories</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1QEkaMepAs5AoGMC24wO7tQQDKEMm_BtidwdNOYjK8UU/pub?start=false&loop=false&delayms=3000" target="_blank">Pipes and redirections</a></li>
        </ul>


        <h3 class="text-left">
          <span class="fa fa-git fa-lg main-list-item-icon"></span>
          &nbsp;Version Control with Git
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/18M9LuX1eVrjknXXYYPcxIYBHiLNJnClai_Z0WE2So2k/pub?start=false&loop=false&delayms=3000" target="_blank">Version Control Systems (VCS)</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1-2-i4nkYyJtklNaV8GLf0SjYtbb2XEFijeN3LFWjidI/pub?start=false&loop=false&delayms=3000" target="_blank">Git Basics</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1I_PWcx7egsnY0wQGHQZI5XQJU4j41wNAZ4SHKrTp8CU/pub?start=false&loop=false&delayms=3000" target="_blank">Basic Workflow</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1xrjPImHsSylpbfTVRhX387tZGPSW2-_htSBoPzbsots/pub?start=false&loop=false&delayms=3000" target="_blank">Branches</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1fCUtduzQaPS25xs55M1VFCiP3VL7QH6pjWNSyljs-JY/pub?start=false&loop=false&delayms=3000" target="_blank">Remote Repositories</a></li>
        </ul>


<!--
        <h3 class="text-left">
          <span class="fa fa-eye fa-lg main-list-item-icon"></span>
          &nbsp;Concepts of Data Technologies
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="" target="_blank">Introduction</a></li>
          <li><a class="tutorials" href="" target="_blank">Data Representation</a></li>
          <li><a class="tutorials" href="" target="_blank">Text Files</a></li>
          <li><a class="tutorials" href="" target="_blank">Tabular Data</a></li>
          <li><a class="tutorials" href="" target="_blank">XML Basics</a></li>
          <li><a class="tutorials" href="" target="_blank">HTML Basics</a></li>
        </ul>
-->


        <h3 class="text-left">
          <span class="fa fa-eye fa-lg main-list-item-icon"></span>
          &nbsp;Introduction to Data Visualization
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/01-introduction/01-introduction.pdf" target="_blank">Introduction</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/02-classic-examples/02-classic-examples.pdf" target="_blank">Classic Examples</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/03-visualization-basics/03-visualization-basics.pdf" target="_blank">Visualization Basics</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/04-visual-system/04-visual-system.pdf" target="_blank">Visual System</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/05-visual-perception/05-visual-perception.pdf" target="_blank">Visual Perception</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/07-what-is-color/07-what-is-color.pdf" target="_blank">What is Color</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/08-color-vision/08-color-vision.pdf" target="_blank">Color Vision</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/10-effective-charts/10-effective-charts.pdf" target="_blank">Effective Charts</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/11-various-examples/11-various-examples.pdf" target="_blank">Various Examples</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/12-graphing-process/12-graphing-process.pdf" target="_blank">Graphing Process</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/intro2datavis/blob/master/slides/13-entertainment/13-entertainment.pdf" target="_blank">Entertainment</a></li>
        </ul>

        <h3 class="text-left">
          <span class="fa fa-th fa-lg main-list-item-icon"></span>
          &nbsp;Getting Data from the Web with R
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/01-introduction/01-introduction.pdf" target="_blank">Introduction</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/02-reading-files/02-reading-files.pdf" target="_blank">Reading Files from the Web</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/03-xml-basics/03-xml-basics.pdf" target="_blank">Basics of XML and HTML</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/04-parsing-xml/04-parsing-xml.pdf" target="_blank">Parsing XML / HTML content</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/05-json-data/05-json-data.pdf" target="_blank">Handling JSON Data</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/06-http-basics-curl/06-http-basics-curl.pdf" target="_blank">HTTP Basics and RCurl Package</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/07-web-forms/07-web-forms.pdf" target="_blank">Getting Data via Web Forms</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-web-data/blob/master/08-web-apis/08-web-apis.pdf" target="_blank">Getting Data via Web APIs</a></li>
        </ul>

<!--
        <h3 class="text-left">
          <span class="fa fa-table fa-lg main-list-item-icon"></span>
          &nbsp;Data Manipulation
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="">Item 1</a></li>
          <li><a class="tutorials" href="">Item 2</a></li>
          <li><a class="tutorials" href="">Item 3</a></li>
        </ul>
-->

        <h3 class="text-left">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          &nbsp;R in non-interactive Mode
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/01-introduction.Rmd" target="_blank">Introduction</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/02-batch-mode.Rmd" target="_blank">Batch Mode</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/03-rscript.Rmd" target="_blank">Rscript</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/04-shell-script.Rmd" target="_blank">Shell script</a></li>
          <li><a class="tutorials" href="https://github.com/gastonstat/tutorial-R-noninteractive/blob/master/05-redirection.Rmd" target="_blank">Redirection</a></li>
        </ul>

<!--
        <h3 class="text-left">
          <span class="fa fa-repeat fa-lg main-list-item-icon"></span>
          &nbsp;Reproducibility basics
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="" target="_blank">Reproducibility Notions</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1kG3nnlPuL8D78knTKT33XmWL47zDigILmZqCAnjUSgQ/pub?start=false&loop=false&delayms=3000" target="_blank">Typical Irreproducible Workflows</a></li>
          <li><a class="tutorials" href="" target="_blank">Irreproducible Examples</a></li>
          <li><a class="tutorials" href="" target="_blank">Computational Reproducibility</a></li>
        </ul>
-->


        <h3 class="text-left">
          <span class="fa fa-cogs fa-lg main-list-item-icon"></span>
          &nbsp;Makefile
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/01-introduction.Rmd" target="_blank">Introduction</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/02-various-dependencies.Rmd" target="_blank">Various Dependencies</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/03-various-targets.Rmd" target="_blank">Various Targets</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/04-dependent-targets.Rmd" target="_blank">Dependent Targets</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/05-file-system.Rmd" target="_blank">File System</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/06-phony-targets.Rmd" target="_blank">Phony Targets</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/07-variables-part1.Rmd" target="_blank">Defining Variables</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/08-automatic-variables.Rmd" target="_blank">Automatic Variables</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/09-wildcard-function.Rmd" target="_blank">Wildcard Function</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/10-pattern-rules.Rmd" target="_blank">Pattern Rules</a></li>
          <li><a class="tutorials" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/11-pattern-substitutions.Rmd" target="_blank">Pattern Substitutions</a></li>
        </ul>


        <h3 class="text-left">
          <span class="fa fa-rebel fa-lg main-list-item-icon"></span>
          &nbsp;Create an R Package in Windows
        </h3>
        <ul class="lead text-left">
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1mGSgTeYeiDv-LRpFQ2xGJw7DEPcfeAEXYPP4ltq5Sd0/pub?start=false&loop=false&delayms=3000" target="_blank">Introduction</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1U4TlOWaRxfjauDzMYrD6ikLTUnbohrgsGBUUVi0oGRk/pub?start=false&loop=false&delayms=3000" target="_blank">Setting up your PC</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/172gIqfZhXyhU5hf9LUYTyyb-JqEYgdzJaQKmlHWartA/pub?start=false&loop=false&delayms=3000" target="_blank">Anatomy of an R package</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/17znjKQVaTcdZXBr5a_32VvSK8GzygswNK6J0lYgTT2g/pub?start=false&loop=false&delayms=3000" target="_blank">Standard (painful) Development</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1cvQdA0km9pkE0mTTMhwAvbztdZeQsP48zNsDB1kfw8M/pub?start=false&loop=false&delayms=3000" target="_blank">Building and Checking</a></li>
          <li><a class="tutorials" href="https://docs.google.com/presentation/d/1C085WTEjKd7oA0LyxuaQC8ESNsEMXFdOR7ditl3qeZM/pub?start=false&loop=false&delayms=3000" target="_blank">Develop smarter, not harder</a></li>
        </ul>

        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
