<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr>
        <h2 id="azul">Machine and Statistical Learning</h2>
        <!-- <hr class="small"> -->
      </div>
    </div>

   <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-th fa-lg main-list-item-icon"></span>
          &nbsp;1. Intro and Matrix Alg Review
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/1-01-introduction.pdf" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/2-01-matrix-in-R.pdf" target="_blank">Matrices in R</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/2-02-matrix-stat-operations1.pdf" target="_blank">Matrix operations (part 1)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/2-03-matrix-stat-operations2.pdf" target="_blank">Matrix operations (part 2)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/2-04-matrix-eigen.pdf" target="_blank">Eigenvalue Decomposition</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/2-05-matrix-svd.pdf" target="_blank">Singular Value Decomposition</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-arrows-down-to-line fa-lg main-list-item-icon"></span>
          &nbsp;2. Principal Components Analysis
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/3-01-pca-decathlon.pdf" target="_blank">Motivation: Decathlon data</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/3-02-principal-components1.pdf" target="_blank">PCA (part 1)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/3-03-principal-components2.pdf" target="_blank">PCA (part 2)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/3-04-principal-components3.pdf" target="_blank">PCA (part 1)</a></li>
        </ul>
      </div>
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-arrow-up-right-dots fa-lg main-list-item-icon"></span>
          &nbsp;3. Linear Regression
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/4-01-regression-preamble.pdf" target="_blank">Preamble</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/4-02-ols-regression1.pdf" target="_blank">OLS Regression (part 1)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/4-03-ols-regression2.pdf" target="_blank">OLS Regression (part 2)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/4-04-inference-regression.pdf" target="_blank">OLS Regression (part 3)</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-puzzle-piece fa-lg main-list-item-icon"></span>
          &nbsp;4. Learning Theory
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/5-01-prediction-understanding" target="_blank">Prediction and Understanding</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/5-02-model-assessment.pdf" target="_blank">Model Assessment</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/5-03-bias-variance.pdf" target="_blank">Bias-Variance</a></li>
        </ul>
      </div>
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-arrow-trend-up fa-lg main-list-item-icon"></span>
          &nbsp;5. Regularization
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/6-02-pc-regression.pdf" target="_blank">PC Regression</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/6-03-pls-regression1.pdf" target="_blank">PLS Regression (part 1)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/6-04-pls-regression2.pdf" target="_blank">PLS Regression (part 2)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/6-05-ridge-regression.pdf" target="_blank">Ridge Regression</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-network-wired fa-lg main-list-item-icon"></span>
          &nbsp;6. Intro to Classification
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-01-logistic-regression1.pdf" target="_blank">Logistic Regression (part 1)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-02-logistic-regression2.pdf" target="_blank">Logistic Regression (part 2)</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-03-classification-basics.pdf" target="_blank">Classification Basics</a></li>
        </ul>
      </div>
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-shapes fa-lg main-list-item-icon"></span>
          &nbsp;7. Discriminant Analysis
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-04-discriminant-preamble1.pdf" target="_blank">Discrimination preamble 1</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-05-discriminant-preamble2.pdf" target="_blank">Discrimination preamble 2</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-06-canonical-discriminant.pdf" target="_blank">Canonical Disc. Analysis</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-07-linear-discriminant.pdf" target="_blank">Linear Disc. Analysis</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/8-08-bayes-classifier.pdf" target="_blank">Bayes Classifier</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-cubes-stacked fa-lg main-list-item-icon"></span>
          &nbsp;8. Clustering
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/9-01-clustering-introduction.pdf" target="_blank">Intro to Clustering</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/9-02-clustering-partitioning.pdf" target="_blank">Partitioning Methods</a></li>
          <li><a class="azul" href="https://github.com/gastonstat/statistical-learning/blob/main/slides/9-03-clustering-hierarchical.pdf" target="_blank">Hierarchical Methods</a></li>
        </ul>
      </div>
    </div> <!-- row -->

  </div>
  <!-- /.container -->
</section>
