<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="azul">Data Visualization</h2>
        <!-- <hr class="small"> -->
      </div>
    </div>

   <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-regular fa-image fa-lg main-list-item-icon"></span>
          &nbsp;1. Intro to Data Visualization
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRP3xay1A-zWQom8mAHLShZi-8_gSvmtfz4nGTQ8LwPzTO_ulkgC9e0o1_wC4UDnpgb6JwqvEuZkI2n/pub?start=false&loop=false&delayms=3000" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vTEwZA1y3Ru_D4hNGLF50zsLWqbNrquH7BdlMC6hAKTBznm8YfyXCCPinF1mhYmYQ-7a8nOODD4rYN_/pub?start=false&loop=false&delayms=3000" target="_blank">Graphics Everywhere</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQS1VAaAThWIQ_rKflEz5Mon-A-EVoW57ZzfdFrIvsj1HY9Vmc4BLpORsac6HB25MaAcUBIiOInbRP1/pub?start=false&loop=false&delayms=3000" target="_blank">Classic Example: Minard's Map</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vTjaM0Z2PCLoyzgedhVzLgK-HeLkldURTCKrq9W8nQ7VG8DV2ukt59x5Yznj0kBOZppk75489h8hwgV/pub?start=false&loop=false&delayms=3000" target="_blank">Classic Example: Challenger Disaster</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRj3IbDG51jNCrjiaNrIc5gD_7gn3KRy2SQMGsoXmXqWk3V_DZp7mjinVaO18ng2clJdMxDZT7s2kxQ/pub?start=false&loop=false&delayms=3000" target="_blank">Classic Example: Francis Galton</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa-solid fa-eye fa-lg main-list-item-icon"></span>
          &nbsp;2. Visual System
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vSMpjLjK56T8Ehk5qxZHXCQWPdVQ6NZjoMc9UTBcLUPUhyzPK33O7HrxDj3_34utxs2rCbkyAglmGuR/pub?start=false&loop=false&delayms=3000" target="_blank">Preamble</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vQQ2l5wOZMIJjyT-C19zsCBhCTpzwdNkHFnTNr8vK3RRfoF5T9UOrKM0dCGqvXoP-ajccngSLon2sEa/pub?start=false&loop=false&delayms=3000" target="_blank">Part 1: Light</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRrp8_jh4rueUc0IJTfRcD8nF907gbKufzT6PV-WuZEPiQ9L_nm0Zev2RyuTHamXUQFDxRN5EjsMIGp/pub?start=false&loop=false&delayms=3000" target="_blank">Part 2: Eye</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vT6nfDo69yKNE93YXdswxMzWV3t6926U6P-96F4nw1wpirBUDNNq33_vYL7IMBKdZ2nGTWoctzWdYMC/pub?start=false&loop=false&delayms=3000" target="_blank">Part 3: Memory</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/e/2PACX-1vRI7Xe8obPprUyqON0qV3kB5SDfgfdaCvDnegP1GVuE56wGycfGWrpVPYa3mjrZ1IiiFb8phEoGMahL/pub?start=false&loop=false&delayms=3000" target="_blank">Part 4: Color Vision</a></li>
        </ul>
      </div>
    </div> <!-- row -->


    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-palette fa-lg main-list-item-icon"></span>
          &nbsp;3. Color
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1xJMBvqqolP-0KylGw3xnbFEhryiKUWx0HkJ6gyO9iHg/edit?usp=sharing" target="_blank">Color Model: RGB</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/13bSN9ECvlpl0afGSsz0sQMbuvUBhcQhZC_0TGDpdy_E/edit?usp=sharing" target="_blank">Other Color Models</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1OXhveaSeriHIoxDK8mj0Z8ogi6xvyarDq2m3StuHOAI/edit?usp=sharing" target="_blank">Color Wheel</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-compass-drafting fa-lg main-list-item-icon"></span>
          &nbsp;4. Design Considerations
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1IKU93XPoW3Sr0MlzoVEeWY0qUHy8uJwuJnDrcQIUY9s/edit?usp=sharing" target="_blank">Graphics Vocabulary</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1_YITghxhW6UB1NEqBwoGWPxdct8W5jLnfV9QHwQ0ri4/edit?usp=sharing" target="_blank">Core Idea</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1byF8msahSIbpq3t6NkIREZmby9HnR9q3qvhQH5olNAw/edit?usp=sharing" target="_blank">Tufte's Data-Ink Ratio</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1NL9zLIX89UDtNCSjVQWTATtPbu_-m9J_Bd4yzUdEyLg/edit?usp=sharing" target="_blank">Gestalt Principles</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1HCzP62Cw0kjGVlsX3zN2VIKPMOvCPBMBa6QgYY4zjY8/edit?usp=sharing" target="_blank">Graphing Process</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/17ptEJULF8gYpjos1TDA8sYafxGMMoTnuXBY-8KO6VrY/edit?usp=sharing" target="_blank">Tips for Effective Graphics</a></li>
        </ul>
      </div>      
    </div> <!-- row -->

  </div>
  <!-- /.container -->
</section>
