<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr>
        <h2 id="azul">Other Tools</h2>
        <!-- <hr class="small"> -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-angle-right fa-lg main-list-item-icon"></span>
          &nbsp;Command Line and Shell basics
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/1kKt9V6rom55hU6SJ2_3nGluobjtScptlnJV9YFe6Jz4/pub?start=false&loop=false&delayms=3000" target="_blank">Unix basics</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1muQeKS2a5xtZvjCdRPjjdJeyBjFkLEedISIP1CgOkTE/pub?start=false&loop=false&delayms=3000" target="_blank">Command Line</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1RocwKRc-bOJIk3XMApXPcBCLgZcgrpIAdsUv40WD8Ec/pub?start=false&loop=false&delayms=3000" target="_blank">Customizing Bash shell</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1veeYKkjwgi3h1SGcu7DIgCt82YJ8JjNCmpj75BqHkNk/pub?start=false&loop=false&delayms=3000" target="_blank">Filesystem</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1feEUdSNnWE6f3iMjD4sHP4cSJL15SwlNqZZqUTQo6IY/pub?start=false&loop=false&delayms=3000" target="_blank">Working with files and directories</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1QEkaMepAs5AoGMC24wO7tQQDKEMm_BtidwdNOYjK8UU/pub?start=false&loop=false&delayms=3000" target="_blank">Pipes and redirections</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-cogs fa-lg main-list-item-icon"></span>
          &nbsp;Makefile
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/01-introduction.md" target="_blank">Introduction</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/02-various-dependencies.md" target="_blank">Various Dependencies</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/03-various-targets.md" target="_blank">Various Targets</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/04-dependent-targets.md" target="_blank">Dependent Targets</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/05-file-system.md" target="_blank">File System</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/06-phony-targets.md" target="_blank">Phony Targets</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/07-variables-part1.md" target="_blank">Defining Variables</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/08-automatic-variables.md" target="_blank">Automatic Variables</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/09-wildcard-function.md" target="_blank">Wildcard Function</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/10-pattern-rules.md" target="_blank">Pattern Rules</a></li>
          <li><a class="azul" href="https://github.com/unix-tools/tutorial-makefiles/blob/master/documents/11-pattern-substitutions.md" target="_blank">Pattern Substitutions</a></li>
        </ul>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-left">
          <span class="fa fa-git fa-lg main-list-item-icon"></span>
          &nbsp;Basics of Version Control with Git
        </h3>
        <ul class="lead text-left">
          <li><a class="azul" href="https://docs.google.com/presentation/d/18M9LuX1eVrjknXXYYPcxIYBHiLNJnClai_Z0WE2So2k/pub?start=false&loop=false&delayms=3000" target="_blank">Version Control Systems (VCS)</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1-2-i4nkYyJtklNaV8GLf0SjYtbb2XEFijeN3LFWjidI/pub?start=false&loop=false&delayms=3000" target="_blank">Git Basics</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1I_PWcx7egsnY0wQGHQZI5XQJU4j41wNAZ4SHKrTp8CU/pub?start=false&loop=false&delayms=3000" target="_blank">Basic Workflow</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1xrjPImHsSylpbfTVRhX387tZGPSW2-_htSBoPzbsots/pub?start=false&loop=false&delayms=3000" target="_blank">Branches</a></li>
          <li><a class="azul" href="https://docs.google.com/presentation/d/1fCUtduzQaPS25xs55M1VFCiP3VL7QH6pjWNSyljs-JY/pub?start=false&loop=false&delayms=3000" target="_blank">Remote Repositories</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <!-- to be filled -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
