/* -------------------------------------------- *\
   Content (main section)
\* -------------------------------------------- */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%;
  margin: 0;
}

#content {
  height: 100%;
}

#block {
  width: 100%;  
}

#gallery {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.prose {
  max-width: 700px;
  margin-top: 5px;
  margin-left: calc((100% - 700px)/2);
  padding: 15px 10px 15px 10px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .prose {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 480px) {
  .prose {
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

/*
.prose {
  padding: 30px 10px 30px 10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fafafa;
}
*/

.wide-image {
  width: 100%;
  margin-top: 5px;
}

.full {
  width: 100%;
  max-height: 700px;
  margin: 0;
}

.column1of2, .column2of2 {
  display: block;
  width: 330px;
  float: left;
  padding: 10px;
  text-align: center;
}

.column1of2 p {
  text-align: center;
}
.column2of2 p {
  text-align: center;
}

.column1of2 {
  margin-left: calc((100% - 700px)/2);
}


.column1of3, .column2of3, .column3of3 {
  width: 30%;
  float: left;
  padding: 10px;
  text-align: center;
}

.column1of3 p, .column2of3 p, .column3of3 p {
  text-align: center;
}

/*
.column1of3 {
  margin-left: calc((100% - 700px)/2);
}
*/

/* id attribute "svgtree" that centers d3js layout tree (graph) */
#svgtree {margin-left:auto; margin-right: auto;}

.clear {
  clear: left;
}




/* ================================ *\
   Typography
\* ================================ */

body {
  font-family: 'Open Sans', Helvetica, Georgia, serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1.2em;
  color: #444;
/*  text-align: center; */
}

h1 {
  font: 36px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  color: #aaa;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h2 {
  font: 28px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.4em; 
  color: #444;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

h3 {
  font: 24px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em; 
  color: #444;
  margin-top: 1.2em;
  margin-bottom: 0.2em;
}

h4 {
  font: 22px 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #aaa;
  margin-top: 0.5em;
}

h5, h6 {
  font: 12px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  color: #aaa;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h6 {
  font-style: italic;
}

p { 
  margin-top: 1em; 
  line-height: 1.3em;
  text-align: justify;
}

blockquote {
  font-size: 20px; 
  font-weight: 400;
  color: #aaa;
  border-left: 5px solid #f86e74;
  padding-left: 10px;
  margin-left: 30px;
  margin-top: 1em ;
  margin-bottom: 1em;
  font-style: italic;
}

pre {
  font-family: Monaco, Menlo, "Courier New", monospace;
  font-size: 16px;
  color: #333;
  display: block;
  font-size: 16px;
  line-height: 22px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
}

code {
  font-family: Monaco, Menlo, "Courier New", monospace;
  font-size: 16px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  color: #333;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #f5f5f5;
  margin: 5px 0 5px;
  padding: 0 .3em;
}

pre code {
  border: none;
  font-size: 14px;
}



/* ================================ *\
   Links, buttons, lists, breaks
\* ================================ */

a { 
  color: #f74a52;
  text-decoration: none; 
}

a:hover { 
  color: #0a9cb2; 
  text-decoration: underline; 
  transition: 0.2s ease-in;
}

.redbutton { 
  background: #f74a52; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  padding: 5px 10px 5px 10px; 
  color: white; 
  text-decoration: none; 
} 

.redbutton:hover { 
  background: #0a9cb2; 
  transition: 0.3s ease-in;
  color: white; 
  text-decoration: none; 
} 

.greenbutton { 
  background: #0a9cb2; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  padding: 5px 10px 5px 10px; 
  color: white; 
  text-decoration: none; 
} 

.greenbutton:hover { 
  background: #f74a52; 
  transition: 0.3s ease-in;
  color: white; 
  text-decoration: none; 
} 

.graybutton { 
  background: #f2f2f2; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  padding: 5px 10px 5px 10px; 
  color: #777; 
  text-decoration: none; 
} 

.graybutton:hover { 
  background: #f74a52; 
  transition: 0.2s ease-in;
  color: white; 
  text-decoration: none; 
} 

ul, ol {
  /*margin-top: 1.1em;*/
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

ul li { 
  margin-left: 1.1em;
/*  line-height: 1.5em; */
  line-height: 1.3em;
}

ol li { 
  margin-left: 1.3em;
  line-height: 1.5em;
}


hr {
  border: 1px solid #eee;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr.margin {
  border: 1px solid #0a9cb2;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* ================================ *\
   Images and figures
\* ================================ */

svg, figure {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin-bottom: 25px;
  margin-bottom: 1.55rem;
  display: block;
}

figure img {
  margin-bottom: 12px;
  margin-bottom: .75rem;
}

.centered {
  display: block;
  max-width: 700px;
  margin: auto;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px; 
}

.mosaic {
  width: 30%;
  display: block;
  margin-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

@media screen and (max-width: 770px) {
  .centered {
    max-width: 100%;
  }
}


/* ================================ *\
   D3js simple graph (May 20, 2014)
\* ================================ */

	path { 
		stroke: steelblue;
		stroke-width: 2;
		fill: none;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: grey;
		stroke-width: 1;
		shape-rendering: crispEdges;
	}


