/* -------------------------------------------- *\
   Header (general)
\* -------------------------------------------- */

.header-page {
  /* position: fixed; */
  width: 100%;
  height: 119px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f2f2; /*#f2f2f2;*/
  color: #555;
  border-bottom: 1px solid #eee;
  -moz-box-shadow: 5px -1px 2px 1px #999;
  -webkit-box-shadow: 5px -1px 2px 1px #999;
  box-shadow: 5px -1px 2px 1px #999;
}

.header-page h1 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 10px 0;
  background-color: #fff;
  border-bottom: 0.5px solid #eee;
  -moz-box-shadow: 5px -1px 2px 1px #aaa;
  -webkit-box-shadow: 5px -1px 2px 1px #aaa;
  box-shadow: 5px -1px 2px 1px #aaa;
}

.header-page h1 a {
  text-decoration: none;
  color: #777;
}

.header-page h1 a:hover {
  color: #f74a52; 
  transition: 0.4s linear;
}

.header-page #nav {
    text-align:center;
}

.header-page #nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}

.header-page #nav li {
    display: inline-block;
	font-size: 1em;
}

.header-page #nav li a {
    display: block;
    padding: 15px 25px 10px 25px;
    text-decoration: none;
	color: #555; 
}

.header-page #nav li a:hover   { 
  color: #0a9cb2;
  transition: 0.2s linear;
}

.header-page #nav li a:active   { 
  transition: 0.2s linear;
  background-color: #0a9cb2;
  color: #fff;
}

.header-page #nav li a.current {
  color: #3aafc1;  /* #587cdc; */
  font-weight: bold;
}


@media screen and (max-width: 900px) {  
  .header-page #nav li a {
    display: block;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 570px) {
  .header-page {
    height: 250px;
  }
  
  .header-page #nav ul {
    padding-top: 10px;
  }
  
  .header-page #nav li {
    display: block;
  }
  
  .header-page #nav li a {
    display: block;
    padding: 3px;
  }
}


/* -------------------------------------------- *\
   Header (home)
\* -------------------------------------------- */

.header-home {
  position: fixed;
  width: 100%;
  height: auto;
  margin-top: 0px;
  text-align: center;
/*  background-color: rgba(90, 90, 90, 0.3); */
  color: #555;
/*  color: #fff; */
}

.header-home h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0.2em;
}

.header-home h1 a {
  text-decoration: none;
  color: #555;
}

.header-home #nav {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.header-home #nav ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0em 0em 0.5em 0em;
  position: relative;
  left: 50%;
  text-align: center;
}

.header-home #nav ul li {
  display: inline;
  list-style: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

.header-home #nav ul li a {
/*  display: block; */
  margin: 0 0 0 0px;
  padding: 0px 30px;
  text-decoration: none;
  color: #555;
  line-height: 1.3em;
}

.header-home #nav ul li a:hover   { 
  color: #f74a52; 
  transition: 0.3s linear;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


/* -------------------------------------------- *\
   Footer
\* -------------------------------------------- */

#footer {
  width: 100%;
/*  background-color: rgba(240, 240, 240, 0.5); */
  background-color: #444;
  color: #aaa; 
  padding: 1.5em 0 1.5em 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  clear: both;
}

#footer a {
  text-decoration: none;
  color: #53b9c9; /*#0a9cb2;*/
}
