---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<hr>

<div class="previous_next">
  {% if page.previous %}
    <a href="{{ page.previous.url }}" title="Previous post">&larr; previous</a>
  {% endif %}
  &nbsp;&nbsp;
  {% if page.next %}
    <a href="{{ page.next.url }}" title="Next post">next &rarr;</a>
  {% endif %}
  <br>
  <p>
  <a class="greenbutton" href="/blog/archive/" title="an archive of all posts">See all posts</a>
  </p>
</div>