---
layout: page
---

<div class="post">
	<h1> {{ page.title }} </h1>
	<!-- <span class="date">Posted on {{ page.date | date_to_string }}</span> -->
	<h5>Posted on {{ page.date | date: "%B %d, %Y" }}</h5>
	
	{{ content }}

</div>

<hr>
<p></p>

<div class="meta">
	
	{% if page.categories %}
	<span class="categories">
		Published in categories
		{% for cat in page.categories %}
		<a href="{{ site.url }}/blog/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
		{% endfor %}
	</span>
	{% endif %}
	
	{% if page.tags %}
	<span class="tags">
		Tagged with 
		{% for tag in page.tags %}
		<a href="{{ site.url }}/blog/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
		{% endfor %}
	</span>
	{% endif %}
</div>


<div class="previous_next">
	{% if page.previous %}
	  <a href="{{ page.previous.url }}" title="Previous post">&larr; previous</a>
	{% endif %}
	&nbsp;&nbsp;
	{% if page.next %}
	  <a href="{{ page.next.url }}" title="Next post">next &rarr;</a>
	{% endif %}
	<br>
	<p>
	<a class="greenbutton" href="/blog/archive/" title="an archive of all posts">See all posts &rarr;</a>
	</p>
</div>
